        /* Стили для авторизации */
        .password-toggle {
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 1;
        }

        .password-toggle i {
            transition: all 0.3s ease;
        }

        .password-toggle.active i.fa-eye {
            display: none;
        }

        .password-toggle.active i.fa-eye-slash {
            display: block;
        }

        .password-toggle i.fa-eye-slash {
            display: none;
        }

        /* Стили для полей ввода */
        .form-input {
            position: relative;
        }

        .form-input input {
            padding-right: 2.5rem;
        }

        .form-input .icon {
            position: absolute;
            top: 50%;
            left: 0.5rem;
            transform: translateY(-50%);
            z-index: 1;
            color: #a0aec0; /* Цвет иконки */
        }
